<div class="container" *ngIf="clintonWashGArrivals && clintonWashCArrivals && classonGArrivals">
  <div class="stop-container">
    <header class="header">
      Clinton-Washington C = Updated: {{clintonWashCArrivals.time}}
    </header>
    
    <div class="stop-body">
      <div class="uptown">
        <header>Manhattan</header>

        <div class="arrival-row" *ngFor="let time of clintonWashCArrivals.uptownTimes; let i = index;">
          <ng-container *ngIf="i < 3">
            <div class="ace">
              C
            </div>
            <span>{{time}} minutes</span>
          </ng-container>
        </div>
      </div>
      <div class="downtown">
        <header>Brooklyn</header>
        <div class="arrival-row" *ngFor="let time of clintonWashCArrivals.downtownTimes; let i = index;">
          <ng-container *ngIf="i < 3">
            <div class="ace">
              C
            </div>
            <span>{{time}} minutes</span>
          </ng-container>
        </div>       
      </div>
    </div>
  </div>

  <div class="stop-container">
    <header class="header">
      Clinton-Washington G - Updated: {{clintonWashGArrivals.time}}
    </header>
    
    <div class="stop-body">
      <div class="uptown">
        <header>Queens</header>
        <div class="arrival-row" *ngFor="let time of clintonWashGArrivals.uptownTimes; let i = index;">
          <ng-container *ngIf="i < 3">
            <div class="g">
              G
            </div>
            <span>{{time}} minutes</span>
          </ng-container>
        </div>
      </div>
      <div class="downtown">
        <header>Brooklyn</header>
        <div class="arrival-row" *ngFor="let time of clintonWashGArrivals.downtownTimes; let i = index;">
          <ng-container *ngIf="i < 3">
            <div class="g">
              G
            </div>
            <span>{{time}} minutes</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="stop-container">
    <header class="header">
      Classon G - Updated: {{classonGArrivals.time}}
    </header>
    
    <div class="stop-body">
      <div class="uptown">
        <header>Queens</header>
        <div class="arrival-row" *ngFor="let time of classonGArrivals.uptownTimes; let i = index;">
          <ng-container *ngIf="i < 3">
            <div class="g">
              G
            </div>
            <span>{{time}} minutes</span>
          </ng-container>
        </div>
      </div>
      <div class="downtown">
        <header>Brooklyn</header>
        <div class="arrival-row" *ngFor="let time of classonGArrivals.downtownTimes; let i = index;">
          <ng-container *ngIf="i < 3">
            <div class="g">
              G
            </div>
            <span>{{time}} minutes</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
