.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;

  .stop-container {
    width: 100%;

    .header {
      background-color: black;
      font-size: 30px;
      padding: 10px;
      color: white;
    }

    .stop-body {
      width: 100%;
      display: flex;
      background-color: white;

      .uptown {
        border-right: 1px solid black;
      }

      .uptown, .downtown {
        width: 50%;

        header {
          font-size: 28px;
          padding: 10px;
          background-color: #dcdfe3;
          font-weight: bold;
        }

        .arrival-row {
          display: flex;
          align-items: center;
          font-size: 26px;
          border-bottom: 1px solid #b0b0b0;
          padding: 8px 20px 8px;
          justify-content: space-between;
        }
      }
    }
  }

  .ace, .g {
    color: white;
    margin-right: 20px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ace {
    background-color: #2850ad;
  }

  .g {
    background-color: #6cbe45;
  }
}

@media screen and (max-width: 480px) {
  .stop-body {
    flex-direction: column;
    .uptown, .downtown {
      width: 100% !important;
    }
  }
}